<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Lungs</title>
  <link rel="stylesheet" href="../static/css/lungs.css">
</head>
<body>
<div class="header">
  <div class="tit">
    <h1>Lung Cancer Detection</h1>
  </div>

  <div class="content"><p>You need to enter the following information</p></div>
</div>

<div class="details">
  <div class="imageinput">
    <label for="image">Upload your Xray Here : </label>
    <input type="file" id="image">
  </div>
</div>

<div class="button">
  <button>Predict</button>
</div>

</body>
</html>