<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thyroid</title>
    <link rel="stylesheet" href="../static/css/thyroid.css">
</head>
<body>
    <div class="header">
        <div class="tit">
            <h1>Thyroid Detection</h1>
        </div>

        <div class="content"><p>You need to enter the following information</p></div>
    </div>

    <div class="details">
        <div>
            <label for="feature1">Feature 1 : </label>
            <input type="text" id="feature1">
        </div>
        <div>
            <label for="feature2">Feature 2 : </label>
            <input type="text" id="feature2">
        </div>
        <div>
            <label for="feature3">Feature 3 : </label>
            <input type="text" id="feature3">
        </div>
        <div>
            <label for="feature4">Feature 4 : </label>
            <input type="text" id="feature4">
        </div>
        <div>
            <label for="feature5">Feature 5 : </label>
            <input type="text" id="feature5">
        </div>
        <div>
            <label for="feature6">Feature 6 : </label>
            <input type="text" id="feature6">
        </div>
        <div>
            <label for="feature7">Feature 7 : </label>
            <input type="text" id="feature7">
        </div>
        <div>
            <label for="feature8">Feature 8 : </label>
            <input type="text" id="feature8">
        </div>
        <div>
            <label for="feature9">Feature 9 : </label>
            <input type="text" id="feature9">
        </div>
        <div>
            <label for="feature10">Feature 10 : </label>
            <input type="text" id="feature10">
        </div>
        <div>
            <label for="feature11">Feature 11 : </label>
            <input type="text" id="feature11">
        </div>
        <div>
            <label for="feature12">Feature 12 : </label>
            <input type="text" id="feature12">
        </div>
    </div>

    <div class="button">
        <button>Predict</button>
    </div>

</body>
</html>